@import "main";

:root {
    // --generalFontSize: 5.5vw;
    // --marginTop: 3vh;
    // --headerImgWidth: 60vw;
    --genFlexDirection: row;
    --socialWidth: fit-content;

}

@media only screen and (max-width: $breakpoint-phone) {
    // Sizes
    :root {
        // --generalFontSize: 5.5vw;
        // --marginTop: 3vh;
        // --headerImgWidth: 60vw;
        --socialWidth: 60vw;
        --genFlexDirection: column;
    }
}

#container {
//    display: flex;
  //  align-items: center;
   // justify-content: center;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.intro-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $elementAccentCol;
    border-radius: 1%;
    flex-direction: var(--genFlexDirection);
    p {
        text-align: center;
        font-size: var(--generalFontSize);
    }

    
}

#headerImg {
    text-align: center;
    width: var(--headerImgWidth);
    border-radius: 50%;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-list {
    list-style: none;
}

// Social media bubbles
.social-buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: center;
    // align-content: center;
    // justify-items: center;
    align-self: center;
}
.contacts-ul {
    display: flex;
    flex-direction: column; 
    //var(--genFlexDirection);
    list-style: none;
    list-style-position: outside;
    justify-content:center;
    // margin: 3em;
    // padding: 0;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    a {
        text-decoration: none;
        text-align: center;
    }
}

.contact-div {
    //width: var(--socialWidth);
    width: 100%;
    text-align: center;
    // display: flex;
    justify-content: center;
    // flex-grow: 1;
    flex-shrink: 0;
}

.contact-li {
    padding: 0.5vw;
    width: 100%;
    margin: 0.5vh;
    background-color: $elementAccentCol;
    flex-wrap: wrap;
    border-radius: 1%;
    font-size: var(--generalFontSize);
    flex-shrink: 0;
    // flex-grow: 1;
}

.contact-li:hover {
        background-color: $activeElementCol;
        //padding: 3em;
}
