@use "main";

// Gallery Styling

.gallery-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.gallery-second {
    margin: 5px;
    // TODO comment this out once texting is done
    // border: 1px solid #ccc;
    float: left;
    width: 97%;
}

div.gallery-second:hover {
    border: 1px solid #777;
}


.collapsible {
    background-color: #ce4257;
    /*border: none;*/
    outline: none;
    width: 100%;
}

.gallery-second ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li {
    // TODO comment this out once implemented
    // border: 1px solid #777;
    list-style-type: none;
    margin: 1em;
    width: 20em;
    height: max-content;
}

li img {
    width: 100%;
    object-fit: contain;
}

p {
    text-align: center;
}