// Variables
// Colours
$mainBGCol: #6a96e3;
$secondBGCol: #192149;
$fontCol: #192149;
$navBarCol: #192149;
$buttonCol: #192149;
$activeElementCol: #95aacc;
$elementAccentCol: #bbd5ff;
$elementSecondCol: #95aacc;

// Sizes
:root {
    --marginTop: 1.5vh;
    --generalFontSize: 3.5vw;
    --headerImgWidth: 25%;
    --genFlexDirection: row;
}

// Responsive settings
$breakpoint-phone: 400px;
$breakpoint-pc: 1000px;

@media only screen and (max-width: $breakpoint-phone) {
    // Sizes
    :root {
    --generalFontSize: 5.5vw;
    --marginTop: 3vh;
    --headerImgWidth: 60vw;
    --genFlexDirection: column;
    }
}

@media only screen and (min-width: $breakpoint-pc) {

    // Sizes
    :root {
        --generalFontSize: 1.5vw;
        --marginTop: 3vh;
    }
}

// Navbar Styling
.current {
    color: rgb(18, 214, 18);
}

nav {
    text-align: center;
    background-color: $navBarCol;
}

.button-bar {
    position: fixed;
    text-align: center;
    font-size: 2.5vw;
    top: 0%;
    left: 0%;
    // left: 50%;
    width: 100%;
    //transform: translate(50%, 0%);
    height: var(--marginTop);
}

.button {
    background-color: $buttonCol;
    list-style-type: none;
    margin: 0% 10%;
    padding: 0%;
    display: inline;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.button:hover {
    background-color: $activeElementCol;
}


// .button-bar-ref {
//     position: relative;
//     text-align: center;
//     bottom: 50%;
//     left: 50%;
//     top: 20px;
//     transform: translate(-50%, -50%);
// }

// General Doc Styling
html {
    height: fit-content;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, $mainBGCol, $secondBGCol);
}

body {
    // height: 90%;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // align-content: center;
    // text-align: center;
    width: 70%;
    height: fit-content;
    background-color: #95aacc;
}

h1 {
    margin-top: var(--marginTop);
    background-color: $elementAccentCol;
    text-align: center;
}

p {
    color: $fontCol;
}

#container {
    display: flex;
    flex-direction: column;
}
