// colours: #4f000b #720026 #ce4257 #ff7f51 #ff9b54

$mainBGCol: #a36f81;
$secondBGCol: #c5525c;
$fontCol: #4f000b;
$navBarCol: #720026;
$buttonCol: #ce4257;
$activeElementCol: #ff7f51;
$elementAccentCol: #e47e8e;
$elementSecondCol: #cca2b7;

// Navbar Styling
.current {
    color: green;
}

nav {
    text-align: center;
    background-color: $navBarCol;
}

.button-bar {
    position: fixed;
    text-align: center;
    top: 0%;
    left: 0%;
    // left: 50%;
    width: 100%;
    //transform: translate(50%, 0%);
}

.button {
    background-color: $buttonCol;
    list-style-type: none;
    margin: 0% 10%;
    padding: 0%;
    display: inline;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.button:hover {
    background-color: $activeElementCol;
}


// .button-bar-ref {
//     position: relative;
//     text-align: center;
//     bottom: 50%;
//     left: 50%;
//     top: 20px;
//     transform: translate(-50%, -50%);
// }

// General Doc Styling
body {
    background-color: $mainBGCol;
    height: 100%;
}

h1 {
    background-color: $secondBGCol;
    text-align: center;
}

p {
    color: $fontCol;
}
