@import "main";

// Blog Post Styling
ul {
    // display: inline-block;
    list-style-position:inside;
    overflow: hidden;
}
li {
    list-style-type: circle ;
    // display: inline-block;
}

h2 {
    background-color: $elementAccentCol;
    text-align: center;
    display: inline-block;
    // width: max-content;
}

h2:hover {
    background-color: $activeElementCol;
}

#container {
    background-color: $elementSecondCol;
    display: flex;
    margin: auto;
    padding: 1em;
    width: 50%;

    p {
        // display: inline-flex;
        // grid-template-rows:max-content;
        // align-content: ;
        // justify-content: center;
        // justify-items: center;


        img {
            // text-align: center;
            display: flex;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}