---
layout: default
---
<link rel="stylesheet" href="/assets/css/ArtComp.css">
<h1>{{ page.title }}</h1>

{% assign artFolder = site.collections | where: "label", "art-assets" | first %}
<!-- {{ artFolder.files |jsonify }} -->

<div class="gallery-parent">
    <div class="gallery-second">
        <ul>
            {% for artItem in artFolder.files %}
                {% comment %}
                This lets us use output=true to list the files. Otherwise, there is no way to access our
                static files via collections (or at least this is the only way I found it to work.)
                {% endcomment %}
                {% assign artPath = artItem.path | remove_first: "_" %}
                <li><a href="{{ artPath }}" target="_blank"><img src="{{ artPath }}"></img></a></li>
            {% endfor %}
        </ul>
        <ul>
            {% for item in site.art-assets %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
