<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/MainComp.css">
        <link rel="icon" href="assets/images/flavicon.png" type="image/png"/>
        <link rel="shortcut icon" href="assets/images/flavicon.png" type="image/png"/>
        <script src="https://kit.fontawesome.com/10ccc60a4b.js" crossorigin="anonymous"></script>
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>
